<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button variant="primary" @click="addnew">เพิ่มใหม่</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editPorduct(item)">แก้ไข</b-button
              ><b-button
                class="ml-1"
                variant="danger"
                @click="deleteProduct(item)"
                >ลบ</b-button
              ></template
            >
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    editProduct (item) {},
    deleteProduct (item) {},
    addnew () {}
  },
  data () {
    return {
      fields: [
        { key: 'productId', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      productItems: [
        { productId: 1, name: 'IPad gen1 64G wifi', price: 11000.0 },
        { productId: 2, name: 'IPad gen2 64G wifi', price: 12000.0 },
        { productId: 3, name: 'IPad gen3 64G wifi', price: 13000.0 },
        { productId: 4, name: 'IPad gen4 64G wifi', price: 14000.0 },
        { productId: 5, name: 'IPad gen5 64G wifi', price: 15000.0 }
      ]
    }
  }
}
</script>
<style></style>
