<template>
  <div>
    <b-form @submit.stop.prevent>
      <label>
        <b-form-input v-model="userid" id="feedback-user" :state="validation"></b-form-input>
      <b-form-invalid-feedback  :state="validation">Your user ID must be 5-12 characters long.
      </b-form-invalid-feedback>
      <b-form-valid-feedback  :state="validation">Looks Good.</b-form-valid-feedback>
      </label>
    </b-form>
  </div>
</template>
<script>
export default {
  data () {
    return {
      userid: ''
    }
  },
  computed: {
    validation () {
      return this.userid.length > 4 && this.userid.length < 13
    }
  }

}
</script>
<style>

</style>
